<div class="container my-4">
  <div class="fs-3 fw-normal my-4">My Watchlist</div>
  <ngb-alert [dismissible]="false" [hidden]="stocks.length > 0" class="text-center">
    Currently you don't have any stock in your watchlist
  </ngb-alert>
  <div *ngFor="let stock of stocks; let i = index" class="card mb-2">
    <div class="card-body p-0" (click)="navigateToSearch(stock.stockTicker)">
      <button class="text-start btn border-0 close" type="button"
              (click)="deleteStock(stock._id, stock.stockTicker, i)">
        <i class="bi bi-x-lg"></i>
      </button>
      <div class="row align-items-center px-4 pb-2">
        <div class="col">
          <h5 class="watch-card-title fs-4">{{ stock.stockTicker }}</h5>
          <h6 class="watch-card-subtitle mb-2 text-muted fs-5">{{ stock.companyName }}</h6>
        </div>
        <div class="col text-right">
          <p class="card-text price"
             [ngClass]="{'text-danger': stock.change.amount < 0, 'text-success': stock.change.amount >= 0}">
            {{ stock.currentPrice }}
          </p>
          <p class="card-text fs-5"
             [ngClass]="{'text-danger': stock.change.amount < 0, 'text-success': stock.change.amount >= 0}">
            <i
              [ngClass]="{'text-danger fs-5 bi bi-caret-down-fill': stock.change.amount < 0, 'text-success fs-5 bi bi-caret-up-fill': stock.change.amount >= 0}">
            </i>
            {{ stock.change.amount | number:'1.2-2' }}
            ({{ stock.change.percentage | number:'1.2-2' }}%)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
