.mat-dialog-content {
  font-size: 1rem;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.mat-form-field {
  width: 100%;
}

.buy-btn {
  background-color: green;
  color: white;
}

.cancel-btn {
  background-color: grey;
  color: white;
}

input.mat-input-element {
  padding: .375rem .75rem;
}

.mat-dialog-container {
  max-width: 300px;
}

.wallet-warning {
  color: #d32f2f;
  margin-top: 1rem;
}

.mat-dialog-content {
  font-size: 1rem;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.mat-form-field {
  width: 100%;
}

.buy-btn {
  background-color: green;
  color: white;
}

.cancel-btn {
  background-color: grey;
  color: white;
}

input.mat-input-element {
  padding: .375rem .75rem;
}

.mat-dialog-container {
  max-width: 300px;
}

.wallet-warning {
  color: #d32f2f;
  margin-top: 1rem;
}

