<section id="search-section">
  <div class="container mt-5 d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center mb-2">
      <h1>STOCK SEARCH</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="input-group mb-3 search-bar">
        <input matInput type="text" [formControl]="stockSearchControl" class="form-control me-2 border-0 no-outline"
               placeholder="Enter stock ticker symbol" aria-label="Stock ticker symbol" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of autocompleteSearchResults; track option) {
            <mat-option [value]="option">{{ option.displaySymbol + " | " + option.description }}</mat-option>
          }
        </mat-autocomplete>
        <div class="input-group-append d-flex">
          <button class="btn no-outline" type="button" (click)="searchStock()">
            <i class="bi bi-search"></i>
          </button>
          <button class="btn border-0" type="button" (click)="clearSearch()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="common-company-info-section">
</section>
<section id="company-summary-section">
</section>
<section id="company-news-section">
</section>
<section id="company-charts-section">
</section>
<section id="company-insights-section">
</section>

