<section id="search-section">
  <div class="container mt-5 d-md-flex flex-column justify-content-center">
    <div class="d-md-flex justify-content-center mb-2">
      <h1>STOCK SEARCH</h1>
    </div>
    <div class="d-md-flex justify-content-center">
      <div class="input-group mb-3 search-bar">
        <input matInput type="text" [formControl]="stockSearchControl" class="form-control me-2 border-0 no-outline"
               placeholder="Enter stock ticker symbol" aria-label="Stock ticker symbol" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of autocompleteSearchResults; track option) {
            <mat-option [value]="option.displaySymbol"
                        (click)="searchStock()">{{ option.displaySymbol + " | " + option.description }}
            </mat-option>
          }
        </mat-autocomplete>
        <div class="input-group-append d-flex">
          <button class="btn no-outline" type="button" (click)="searchStock()">
            <i class="bi bi-search"></i>
          </button>
          <button class="btn border-0" type="button" (click)="clearSearch()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section #searchPageContents>
  <!--  <div class="d-md-flex">-->
  <div *ngIf="(currentTab == 'Summary') then companyInfo">
  </div>
  <!--  </div>-->
  <section id="common-company-info-section">
    <ng-template #companyInfo>
      <div class="d-md-flex justify-content-md-evenly company-info-card">
        <div>
          <ul class="list-group">
            <li class="list-group">{{ stockProfile?.ticker }}</li>
            <li class="list-group">{{ stockProfile?.name }}</li>
            <li class="list-group">{{ stockProfile?.exchange }}</li>
            <li class="list-group d-md-flex flex-row justify-content-center">
              <button class="btn btn-success p-2 m-2 w-25">Buy</button>
              <button class="btn btn-danger p-2 m-2 w-25">Sell</button>
            </li>
          </ul>
        </div>
        <div>
          <img [src]="stockProfile?.logo">
        </div>
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group">{{ latestPrice?.c }}</li>
            <li class="list-group">{{ latestPrice?.d }}({{ latestPrice?.dp }})</li>
            <li class="list-group">{{ latestPrice?.t | date }}</li>
          </ul>
        </div>
      </div>
      <div>
        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectTab($event)">
          <mat-tab label="Summary"></mat-tab>
          <mat-tab label="Top News"></mat-tab>
          <mat-tab label="Charts"></mat-tab>
          <mat-tab label="Insights"></mat-tab>
        </mat-tab-group>
      </div>
      <ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
    </ng-template>
  </section>
  <section id="company-summary-section">
    <ng-template #summaryTab>
      <p>Summary Tab</p>
    </ng-template>
  </section>
  <section id="company-news-section">
    <ng-template #newsTab>
      <p>News Tab</p>
    </ng-template>
  </section>
  <section id="company-charts-section">
    <ng-template #chartsTab>
      <p>Charts Tab</p>
    </ng-template>
  </section>
  <section id="company-insights-section">
    <ng-template #insightsTab>
      <p>Insights Tab</p>
    </ng-template>
  </section>
</section>
