<div class="news-dialog-box">
  <div>
    <div class="container m-2">
      <div class=" p-2 fs-4 fw-semibold">{{ data?.source }}</div>
      <div class="p-2 fw-lighter">{{ data?.datetime * 1000 | date:'longDate' }}</div>
    </div>
    <mat-dialog-content class="border-top fw-5">
      <p><strong>{{ data?.headline }}</strong></p>
      <p>{{ data?.summary }}</p>
      <p>For more details click <a href="{{data.url}}" target="_blank">here</a></p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="d-block w-100 news-footer border m-2 pt-3 p-3">
        <div>
          <p class="fs-6 fw-normal">
            Share
          </p>
          <div class="icon-section d-flex align-items-center">
          <span>
            <a target="_blank" class="share-icon twitter-share-button"
               [href]="'https://twitter.com/intent/tweet?text=' + myEncodeURIComponent(data.headline) + '&url=' + myEncodeURIComponent(data.url)"
               data-size="large">
              <i class="bi bi-twitter-x twitter-icon h1 m-1"></i></a>
          </span>
            <span class="share-icon fb-share-button" data-href="encodeURLComponent(news.url)" data-layout=""
                  data-size="large">
            <a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ myEncodeURIComponent(data.url) }}"
               class="fb-xfbml-parse-ignore"><i class="bi bi-facebook h1 m-1"></i></a>
          </span>
          </div>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
</div>
