<div class="news-dialog-box">
  <div>
    <div>
      <h2 mat-dialog-title>{{ data?.source }}</h2>
      <h4 class="p-2 me-1">{{ data?.datetime * 1000 | date:'longDate' }}</h4>
    </div>
    <mat-dialog-content class="mat-typography">
      <p><strong>{{ data?.headline }}</strong></p>
      <p>{{ data?.summary }}</p>
      <p>For more details click <a href="{{data.url}}" target="_blank">here</a></p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="modal-footer news-footer">
        <div class="icon-section d-flex align-items-center">
          <span>
            <a target="_blank" class="share-icon twitter-share-button"
               [href]="'https://twitter.com/intent/tweet?text=' + myEncodeURIComponent(data.headline) + '&url=' + myEncodeURIComponent(data.url)"
               data-size="large">
              <i class="bi bi-twitter-x twitter-icon h1"></i></a>
          </span>
          <span class="share-icon fb-share-button" data-href="encodeURLComponent(news.url)" data-layout=""
                data-size="large">
            <a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ myEncodeURIComponent(data.url) }}"
               class="fb-xfbml-parse-ignore"><i class="bi bi-facebook h1"></i></a>
          </span>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
</div>
