<section id="search-section">
  <div class="container mt-5 d-md-flex flex-column justify-content-center">
    <div class="d-md-flex justify-content-center mb-2">
      <h1>STOCK SEARCH</h1>
    </div>
    <div class="d-md-flex justify-content-center container-md">
      <div class="input-group mb-3 search-bar row">
        <input matInput type="text" [formControl]="stockSearchControl"
               class="form-control me-2 border-0 no-outline col-md-10"
               placeholder="Enter stock ticker symbol" aria-label="Stock ticker symbol" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of autocompleteSearchResults; track option) {
            <mat-option [value]="option.displaySymbol"
                        (click)="searchStock(stockSearchControl.value)">{{ option.displaySymbol + " | " + option.description }}
            </mat-option>
          }
        </mat-autocomplete>
        <div class="input-group-append d-flex col-md-2">
          <button class="btn no-outline" type="button" (click)="searchStock(stockSearchControl.value)">
            <i class="bi bi-search"></i>
          </button>
          <button class="btn border-0" type="button" (click)="clearSearch()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage">
    <h1>ERROR NO SEARCH RESULTS PRESENT</h1>
  </div>
</section>
<section #searchPageContents>
  <div *ngIf="(currentTab == 'Summary') then companyInfo">
  </div>
  <section id="common-company-info-section">
    <ng-template #companyInfo>
      <div class="d-md-flex justify-content-md-evenly company-info-card">
        <div>
          <ul class="list-group">
            <li class="list-group">{{ stockProfile?.ticker }}</li>
            <li class="list-group">{{ stockProfile?.name }}</li>
            <li class="list-group">{{ stockProfile?.exchange }}</li>
            <li class="list-group d-md-flex flex-row justify-content-center">
              <button class="btn btn-success p-2 m-2 w-25">Buy</button>
              <button class="btn btn-danger p-2 m-2 w-25">Sell</button>
            </li>
          </ul>
        </div>
        <div>
          <img class="stock-company-logo" [src]="stockProfile?.logo">
          <div>
            <p *ngIf="getMarketStatus()" class="text-danger">Market is Closed</p>
            <p *ngIf="!getMarketStatus()" class="text-success">Market is Open</p>
          </div>
        </div>
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group">{{ latestPrice?.c }}</li>
            <li class="list-group">{{ latestPrice?.d }}({{ latestPrice?.dp }})</li>
            <li class="list-group">{{ latestPrice?.t * 1000 | date:'medium' }}</li>
          </ul>
        </div>
      </div>
      <div>
        <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectTab($event)">
          <mat-tab label="Summary"></mat-tab>
          <mat-tab label="Top News"></mat-tab>
          <mat-tab label="Charts"></mat-tab>
          <mat-tab label="Insights"></mat-tab>
        </mat-tab-group>
      </div>
      <ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
    </ng-template>
  </section>
  <section id="company-summary-section">
    <ng-template #summaryTab>
      <div>
        <div>
          <div>
            <ul class="list-group">
              <li class="list-group-item">High Price : {{ latestPrice?.h }}</li>
              <li class="list-group-item">Low Price: {{ latestPrice?.l }}</li>
              <li class="list-group-item">Open Price: {{ latestPrice?.o }}</li>
              <li class="list-group-item">Prev. Close: {{ latestPrice?.pc }}</li>
            </ul>
          </div>
          <div>
            <div>
              <p><strong>About the company</strong></p>
            </div>
            <div>
              <p><strong>IPO Start Date: </strong>{{ stockProfile?.ipo }}</p>
              <p><strong>Industry: </strong>{{ stockProfile?.finnhubIndustry }}</p>
              <p><strong>Webpage: </strong><a href="{{stockProfile?.weburl}}">{{ stockProfile?.weburl }}</a></p>
              <p><strong>Company Peers: </strong></p>
              <div class="company-peers-container">
              <span *ngFor="let company of companyPeers; let isLast=last">
                    <a href="#"
                       (click)="searchStock(company); $event.preventDefault()">{{ company }}</a>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="company-hourly-charts-container">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptionsSummary"
            style="width: 50%; height: 400px; display: block;">
          </highcharts-chart>
        </div>
      </div>
    </ng-template>
  </section>
  <section id="company-news-section">
    <div class="container-sm">
      <ng-template #newsTab>
        <div class="row">
          <div *ngFor="let newsOption of newsResponse; let i = index" class="col-md-6 mb-2 mt-2">
            <mat-card class="m-1 bg-light" (click)="openDialog(newsOption)">
              <mat-card-content class="d-flex container">
                <div class="row w-100">
                  <div class="col-4 d-flex justify-content-center">
                    <img mat-card-sm-image [src]="newsOption?.image" [alt]="newsOption?.related">
                  </div>
                  <div class="col-8 d-flex justify-content-center">
                    <p>{{ newsOption?.headline }}</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <div *ngIf="(i + 1) % 2 === 0" class="w-100 d-none d-md-block"></div>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
  <section id="company-charts-section">
    <ng-template #chartsTab>
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        [constructorType]="'stockChart'"
        style="width: 100%; height: 700px; display: block"
      ></highcharts-chart>
    </ng-template>
  </section>
  <section id="company-insights-section">
    <ng-template #insightsTab>
      <p>Insights Tab</p>
    </ng-template>
  </section>
</section>
