<!-- In app.component.html -->
<nav>
  <ul>
    <li>Stock Search</li>
    <div>
    <li><a class="btn btn-primary" (click)="showComponent='search'">Search</a></li>
    <li><a class="btn btn-secondary" (click)="showComponent='wishlist'">Wishlist</a></li>
    <li><a class="btn btn-warning" (click)="showComponent='portfolio'">Portfolio</a></li>
    </div>
  </ul>
</nav>

<router-outlet></router-outlet>
<app-stock-search *ngIf="showComponent === 'search'"></app-stock-search>
<app-stock-wishlist *ngIf="showComponent === 'wishlist'"></app-stock-wishlist>
<app-stock-portfolio *ngIf="showComponent === 'portfolio'"></app-stock-portfolio>
