<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid mx-5">
    <a class="navbar-brand">Stock Search</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <button type="button" class="btn nav-link" [class.active]="showComponent === 'search'"
                (click)="showComponent='search'">Search
        </button>
        <button type="button" class="btn nav-link" [class.active]="showComponent === 'wishlist'"
                (click)="showComponent='wishlist'">Watchlist
        </button>
        <button type="button" class="btn nav-link" [class.active]="showComponent === 'portfolio'"
                (click)="showComponent='portfolio'">Portfolio
        </button>
      </div>
    </div>
  </div>
</nav>

<app-stock-search *ngIf="showComponent === 'search'"></app-stock-search>
<app-stock-wishlist *ngIf="showComponent === 'wishlist'"></app-stock-wishlist>
<app-stock-portfolio *ngIf="showComponent === 'portfolio'"></app-stock-portfolio>
