<!-- Adjusted stock.component.html -->
<div class="container my-4">
  <div class="portfolio-heading mb-4">
    <div class="fs-4 p-2">My Portfolio</div>
    <div class="fs-4 p-2">Wallet Balance: {{ walletBalance | currency }}</div>

    <ngb-alert [dismissible]="false" [hidden]="portFolioDataList.length > 0" class="text-center">
      Currently you don't have any stock
    </ngb-alert>

  </div>
  <div class="stock-portfolio mt-3">
    <div *ngFor="let stock of portFolioDataList; let i = index" class="card stock-card">
      <div class="card-header text-white">
        <div class="stock-heading"><p class="d-inline fs-4 fw-semibold text-black p-1">{{ stock.ticker }}</p>
          <p class="d-inline fs-5 fw-normal text-black">{{ stock.companyName }}</p></div>
      </div>
      <div>
        <div class="container-fluid">
          <div class="row p-4">
            <div class="col-md-6 col-sm-12">
              <div>Quantity: <strong class="text-end">{{ stock.quantity }}</strong></div>
              <div>Avg. Cost / Share: <strong class="text-end">{{ stock.totalCost / stock.quantity }}</strong></div>
              <div>Total Cost: <strong class="text-end">{{ stock.totalCost }}</strong></div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div>Change: <strong
                class="text-end">{{ (stock.totalCost / stock.quantity) - stock.currentPrice | number:'1.2-2' }}</strong>
              </div>
              <div>Current Price: <strong class="text-end">{{ stock.currentPrice }}</strong></div>
              <div>Market Value: <strong class="text-end">{{ stock.currentPrice * stock.quantity }}</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 button-actions">
              <button class="btn btn-primary m-2" (click)="buyStock(stock, i)">Buy</button>
              <button class="btn btn-danger m-2" (click)="sellStock(stock, i)">Sell</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
